<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Welcome to Code Slate</title>
</head>
<body>
<h2>Welcome <span style='font-size:22.0pt;color:#007EB6' th:text="${userName}"/></h2>
<h2>Client Name :  <span style='font-size:22.0pt;color:#007EB6' th:text="${clientName}"/></h2>
<div>
    <h2> Scopes :</h2>
    <ul>
        <li th:each="scope : ${scopes}"><span  style='font-size:22.0pt;color:#007EB6' th:text="${scope}"></span>
        </li>
    </ul>
</div>

</body>
</html>
